<tr>
              <td>
                <span style="font-weight:bold; font-size:1.6em;"><%= link_to h(project.name), project_path(project) -%></span>

                <% unless project.info.blank? -%>
                  <%= link_to_function _('Click for info'),
                      visual_effect(:toggle_appear, "project_info_#{project.id}", :duration => 0.5) %>
                <% end -%>
                <% unless project.info.blank? -%>
                  <div style="display: none;" class="markup box" id="project_info_<%=h project.id %>">
                  <%= markup(project.info) %>
                  </div>
                <% end -%>
              </td>
</tr>
	    
            <tr>
              <td>
		<% if permitted?(:tickets, :view) -%>

                <% elsif project.tickets.blank? -%>
		    <b>Latest ticket: </b>
		    <em>none</em>
		<% else -%>
		    <b>Latest ticket: </b>
                    <b><%= link_to h(project.tickets.last.summary), project_ticket_path(project, project.tickets.last) -%></b>
                    updated <%= time_interval_in_words(project.tickets.last.updated_at) -%>
                    by <%= project.tickets.last.author -%>
                <% end -%>
              </td>
            </tr>



<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>


