<% @page_title = _('Projects') -%>
<% slim_page -%>
<% auto_discover_feed -%>
<%= page_title %>
<table>
 
<% if @projects.blank? -%>
  <h2><%=_ 'No projects available' -%></h2>
<% else -%>
<tr>
<td>
  <h2><%=_ 'My Projects' -%></h2>

  <table>
    <% pro = relevant_projects(User.current) -%>
    <% pro.each do |project| -%>
	<%= render :partial=>"project", :locals=>{:project=> project} -%>          
    <% end -%>
  </table>
</td>
<td>
  <h2><%=_ 'Other Projects' -%></h2>
  <table>
    <% pro = irrelevant_projects(User.current) -%>
    <% pro.each do |project| -%>
	<%= render :partial=>"project", :locals=>{:project=> project} -%>          
    <% end -%>
  </table>
</td>
</tr>
<% end -%>
</table>
